header {
  width: 100%;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 1px 2px rgba(177, 13, 201, 0.8),  /* Main shadow */
              0 0 2px rgba(255, 0, 255, 0.7),    /* Stronger neon glow */
              0 0 2px rgba(255, 0, 255, 0.6);    /* Extended glow */
  position: fixed;
  height: 60px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  height: 60px;
  padding: 0px 10px;
  color: rgb(0, 0, 0);
  transition: background-color 0.3s ease;
}

.dark .navbar {
  background-color: rgb(20, 20, 20);
  color: rgb(255, 255, 255);
}

.cluster1 {
  display: flex;
  align-items: center;
  gap: 3px;
}

.logor {
  width: 50px;
  height: 50px;
}

.logorn {
  width: 50px;
  height: 35px;
}

.cluster2, .cluster3 {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cluster1, .cluster2, .cluster3 {
  padding: 0px 5px;
}

.login-btn:hover
{
  transform: scale(1.2);
}

.upgrade-btn:hover
{
  transform: scale(1.2);
}

.login-btn, .upgrade-btn {
  padding: 3px 20px;
  font-family: 'Inter', sans-serif;
  font-size: larger;
  font-weight: 500;
  letter-spacing: normal;
  background-image: linear-gradient(to top right, 
    #2c29ff, 
    #2d28ff 8.1%, 
    #2e26ff 15.5%, 
    #3123ff 22.5%, 
    #351fff 29%, 
    #3a1aff 35.3%, 
    #4115ff 41.2%, 
    #4710ff 47.1%, 
    #4f0aff 52.9%, 
    #5705ff 58.8%, 
    #5f00ff 64.7%, 
    #6800fa 71%, 
    #6e00f6 77.5%, 
    #7400f3 84.5%, 
    #7700f1 91.9%, 
    #7800f0);
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease,transform 0.3s ease;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  border: 1px solid black;
}

.upgrade-btn:hover {
  background-image: linear-gradient(to bottom left, 
  #7800f0, 
  #7700f1 8.1%, 
  #7400f3 15.5%, 
  #6e00f6 22.5%, 
  #6800fa 29%, 
  #5f00ff 35.3%, 
  #5705ff 41.2%, 
  #4f0aff 47.1%, 
  #4710ff 52.9%, 
  #4115ff 58.8%, 
  #3a1aff 64.7%, 
  #351fff 71%, 
  #3123ff 77.5%, 
  #2e26ff 84.5%, 
  #2d28ff 91.9%, 
  #2c29ff);
  color: #fff;
}

.login-btn:hover {
  background-image: linear-gradient(to bottom left, 
  #7800f0, 
  #7700f1 8.1%, 
  #7400f3 15.5%, 
  #6e00f6 22.5%, 
  #6800fa 29%, 
  #5f00ff 35.3%, 
  #5705ff 41.2%, 
  #4f0aff 47.1%, 
  #4710ff 52.9%, 
  #4115ff 58.8%, 
  #3a1aff 64.7%, 
  #351fff 71%, 
  #3123ff 77.5%, 
  #2e26ff 84.5%, 
  #2d28ff 91.9%, 
  #2c29ff);
  color: #fff;
}

.login-btn.dark, .upgrade-btn.dark {
  border: 1px solid white;
}

.theme-toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.dark-mode {
  background-color: #333;
  background-color: #030717;
  color: #fff;
  .navbar
  {
    background-color: rgb(20, 20, 20);
    background-color: #0e1111;
  }
  .login-btn
  {
    background-color: #fff;
  }
  .login-btn:hover
  {
    background-color: #030717;
    color: white;  
  }
  .output
  {
    background-color: #3f3d3d;
    background-color: #010201;
    color:#fff;
  }
  .output p
  {
    color:#fff;
  }
  .upload
  {
    border: 2px dashed #ffffff;
  }
  .input
  {
    background-color: #010201;
    color: white;
  }
}

@media screen and (max-width: 470px) {
  .logorn {
    display: none;
  }

  .login-btn {
    display: none;
  }
}